import("methods")
import("FLR4MFCL")
export(
  "condLenAgeFits",
  "getEffortDevs",
  "lenCompFits",
  "negEigenSummary",
  "tagplot",
  "wgtCompFits"
  )
exportClasses(
)
exportMethods(
  "chordMovePlot",
  "sankeyMovePlot"
)


