import("methods")
import("FLR4MFCL")
export(
  "condLenAgeFits",
  "contributions",
  "contributionsPlot",
  "getCatchDevCoffs",
  "getEffortDevs",
  "lenCompFits",
  "lenCompFitsAll",
  "negEigenSummary",
  "tagplot",
  "wgtCompFits",
  "wgtCompFitsAll"
  )
exportClasses(
)
exportMethods(
  "chordMovePlot",
  "sankeyMovePlot"
)


